<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aperezsi.diablobuddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GOOGLE SERVICES DEPENDENCIES ADDED THIS PERMISSION AND ON THER OTHER WAY GOOGLE PLAY REQUEST TO DISABLE IT OR ADD IT, WE REMOVE IT FROM MANIFEST BECAUSE ACTUALLY WE DON'T USE IT -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:name=".DiabloBuddyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiabloBuddy">
        <activity android:name=".view.NavHostActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>